@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

:root {
  --primary-color: #2563eb;
  /* --gray-header: #6b7280; */
  --off-white: #eff6ff;
}

hr {
  margin: 2rem 0rem;
}

/* container */
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* link */
.link {
  text-decoration: none;
  border: 1px solid;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

.link-primary {
  color: white;
  background-color: var(--primary-color);
}

.link-secondary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.link-no-decoration {
  text-decoration: none;
}

.link-active {
  font-weight: bold;
}

/* List */
.list-non-bullet {
  list-style: none;
}

.list-element-inline {
  display: inline-block;
}

/* Navigation */
.navbar {
  background-color: var(--primary-color);
  padding: 1rem;
  border-bottom-left-radius: 2rem;
}

.navbrand {
  color: white;
  font-weight: bold;
}

.navlist {
  text-align: right;
}

.navbar a {
  color: white;
  padding: 1rem;
}

/* hero */
.hero {
  padding: 1rem;
}

.hero img {
  display: block;
  margin: auto;
  max-width: 80%;
  width: 600px;
}

.hero-heading {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}

/* section */
.section {
  padding: 2rem;
}

.section-offwhite {
  background-color: var(--off-white);
}

section .section-heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.section-link {
  margin-top: 0.3rem;
  display: inline-block;
}

/* footer */
footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  text-align: center;
}

.footer-heading {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

footer ul {
  padding-inline-start: 0px;
}

footer a {
  color: white;
  padding: 1rem;
}

/* extra */
.btn {
  display: block;
}

.section-project {
  margin-top: 3rem;
}

.blog-div {
  font-size: 2rem;
  margin-top: 5rem;
}

.blog-div span {
  color: #2563eb;
  font-weight: bold;
}

/* CARD and Hoover effect on card */

.card-container {
  max-width: 800px;
  margin: auto;
  padding-inline-start: 0px;
}
.card {
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 0 4px 12px 0 rgba(27, 26, 26, 0.4);
  transition: 0.5s;
}

.card-container:hover .card {
  filter: blur(20px);
  opacity: 0.9;
  transform: scale(0.9);
}

.card-container .card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}

/* Link Hover Effect */
.link:hover {
  box-shadow: 2px 2px 2px 2px #9ca3af;
  transition: box-shadow 0.2s;
}

.link:active {
  background-color: #3b82f6;
  transform: translateY(2px);
  transition: 0.2s;
}

li .link {
  margin-right: 0.3rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .card-container {
    width: 90%;
    /* margin:1rem; */
  }

  .button-container{
    display: flex;
    flex-wrap:wrap ;
  }
}

ul {
  padding-inline-start: 0px;
}
